body {
    background: url('../img/fondo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: -2rem;
    margin-top: 40px;
}

.container {
    background: white;
    padding: 5px;
}

.breadcrumb {
    background: #f1f0f2;
    color:#422442;
    padding: 5px;
}


h1 {
    font-family: Verdana, Arial;
    font-size: 150%;
    font-weight: bolder;
    letter-spacing: 3px; 
    color: white;
    background: #422442;
    text-align: center;
    width: 80%;
    height: 30%;
    margin-bottom: 5%;
    line-height: 200%;
    float: left;
    text-transform: uppercase;
    border-radius: .3rem; 
}

.card-heroe {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}

.btn-reserva {
    width: 100%;
}


footer {
    padding: 1rem 1rem;
    height: 10%;
    width: 100%;
}


.fila {
    font-family: Verdana, Arial;
    font-size: 10px;
    font-weight: bolder;
    color: white;
    background: #422442;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
    flex: 1 150px;
    padding: 2px 2px 2px 2px;
    border-radius: .5rem; 
}

.idfooter {
    font-family: Verdana, Arial;
    font-size: 8px;
    font-weight: bolder;
    color: white;
    background: #422442;
    border-radius: .5rem; 
}